

    @font-face {
    font-family: 'Droid Serif Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Serif Regular'), url('DroidSerif-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Droid Serif Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Serif Italic'), url('DroidSerif-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Droid Serif Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Serif Bold'), url('DroidSerif-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Droid Serif Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Serif Bold Italic'), url('DroidSerif-BoldItalic.woff') format('woff');
    }